<%- model_class = Poem -%>
<% content_for :pageheader do %>
<h1><a href="/"><%=t '.title', :default => "Haikus" %></a></h1>
<% end %>
<div  id="herokus">
<%= render @poems %>
</div>

<% content_for :paginator do %>
	<%= paginate @poems, :param_name => :poem , :remote => true,:window => 1 %>
<% end %>