<%- model_class = Poem -%>
<% content_for :pageheader do %>
	<h1><a href="/"><%=t '.title', :default => "Haiku" %></a></h1>
<% end %>
<div class="hike span6 offset2">
		<%= simple_format @poem.body %>
		<%= @poem.by %>
</div>
